In [1]:
#Criar as seguintes funções:
    #1) def tabelas_bd(): retorna um dataframe com as tabelas do banco de dados.
    #2) def salva_bd(df, nome_tabela): salva dataframe df na tabela nome_tabela.
    #3) def carrega_bd(nome_tabela): carrega tabela nome_tabela num dataframe.

In [7]:
import sqlite3
import pandas as pd

In [8]:
def tabelas_bd():
    '''
       Retorna um dataframe com as tabelas do banco de dados 
    '''
#Conectar ao banco de dados
    conn = sqlite3.connect('coderhouse.db')
#Executar consulta que retorna as informações do esquema do banco de dados
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql_query(query,conn)
#Fechar conexão
    conn.close()
    return schema

In [9]:
def salva_bd(df, nome_tabela):
    '''
        Salva dataframe df na tabela nome_tabela.
    '''
#Conectar ao banco de dados
    conn = sqlite3.connect('coderhouse.db')
# Salvar o dataframe df na tabela nome_tabela. Se uma tabela com o mesmo nome já existir, ela será substituída
    df.to_sql(nome_tabela, conn, if_exists='replace', index = False)
    conn.close()
    return True

In [10]:
def carrega_bd(nome_tabela):
    '''
        Carrega tabela nome_tabela num dataframe.
    '''
#Conectar ao banco de dados
    conn = sqlite3.connect('coderhouse.db')
#Executar a consulta SQL e retornar os resultados como um dataframe
#Selecionar todos os dados da tabela nome_tabela
    df = pd.read_sql_query(f'SELECT * FROM {nome_tabela}', conn)
#Fechar conexao
    conn.close()
    return df

In [11]:
#Abrir arquivo xlsx
excel = pd.read_excel('fastfood.xlsx')
excel.head(3)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other

In [12]:
tabelas_bd()

       name
0  fastfood
1  produtos

In [13]:
salva_bd(excel,'fastfood')

True

In [14]:
carrega_bd('fastfood')

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other